extends layout

block navbar
  if auth
    nav.navbar.navbar-default
      .container-fluid
        a.navbar-brand(href='')
          img.img-circle.pull-left(src=user.profile_picture, alt=user.username, width='20', height='20')
          | &nbsp;#{user.username}
        ul.nav.navbar-nav
          li: a(href=''): strong #{user.counts.followed_by} followers
        ul.nav.navbar-nav.navbar-right
          li: a(href='/privacy-policy') Privacy Policy
          li: a(href='/logout') Exit

block content
  unless auth
    br
    .row.hidden-xs.hidden-sm
      .col-md-5.text-right
        img(src='fa.png', style='width:128px;height:128px')
      .col-md-7
        h1(style='margin-top:28px')= title

    .row.visible-xs-block.visible-sm-block
      .col-xs-12.text-center
        img(src='fa.png', style='width:128px;height:128px')
      .col-xs-12.text-center
        h1= title

    br
    .row
      .col-md-6.col-md-offset-3
        p.text-center.text-muted.
          This simple web app will let you find out proportion of followers and strangers among those,
          who liked and commented your posts.
    .row
      .col-xs-12
        .text-center
          br
          br
          p: a.btn.btn-lg.btn-info(href=instagramLoginUrl) Login with Instagram
          br
          br
          p: a(href='/privacy-policy') Privacy Policy
