each post in data
  .row.instagram-media(data-media_id=post.id)
    .col-xs-2.col-xs-offset-2
      a.thumbnail(href=post.link, target='_blank')
        img(src=post.images.low_resolution.url)

    .col-xs-6
      .row
        .col-xs-2.text-center
          div Likes
          .total-count= post.likes.count
        .col-xs-10
          .percentage
            .pull-left.text-success.followers-count
              | #{post.likes.followersLikes} followers
            .pull-right.text-muted.strangers-count
              | strangers #{post.likes.count - post.likes.followersLikes}
            | #{post.likes.percent}%
          .progress
            .progress-bar.progress-bar-success(
            aria-valuemin=0,
            aria-valuemax=100,
            aria-valuenow=post.likes.percent,
            style='width:#{post.likes.percent}%')

      .row
        .col-xs-2.text-center
          div Comments
          .total-count= post.comments.count
        .col-xs-10
          .percentage
            .pull-left.text-info.followers-count
              | #{post.comments.followersComments} followers
            .pull-right.text-muted.strangers-count
              | strangers #{post.comments.count - post.comments.followersComments}
            | #{post.comments.percent}%
          .progress
            .progress-bar(
            aria-valuemin=0,
            aria-valuemax=100,
            aria-valuenow=post.comments.percent,
            style='width:#{post.comments.percent}%')

  .row: .col-xs-8.col-xs-offset-2: hr

.text-center: #load-more.btn.btn-default Load more posts
