each post in data
  .row.instagram-media(data-media_id=post.id)
    .col-lg-2.col-lg-offset-2.col-md-3.col-md-offset-0.col-sm-4.col-sm-offset-0.col-xs-6.col-xs-offset-3
      a.thumbnail(href=post.link, target='_blank')
        img(src=post.images.low_resolution.url)

    .col-lg-6.col-md-9.col-sm-8
      .row
        .col-xs-12
          div.total-count Total likes:
            strong= post.likes.count
          .percentage
            .pull-left.text-success.followers-count
              | #{post.likes.followersLikes} followers
            .pull-right.text-muted.strangers-count
              | strangers #{post.likes.count - post.likes.followersLikes}
            | #{post.likes.percent}%
          .progress
            .progress-bar.progress-bar-success(
            aria-valuemin=0,
            aria-valuemax=100,
            aria-valuenow=post.likes.percent,
            style='width:#{post.likes.percent}%')

      .row
        .col-xs-12
          div.total-count Total comments:
            strong= post.comments.count
          .percentage
            .pull-left.text-info.followers-count
              | #{post.comments.followersComments} followers
            .pull-right.text-muted.strangers-count
              | strangers #{post.comments.count - post.comments.followersComments}
            | #{post.comments.percent}%
          .progress
            .progress-bar(
            aria-valuemin=0,
            aria-valuemax=100,
            aria-valuenow=post.comments.percent,
            style='width:#{post.comments.percent}%')


  .row: .col-lg-8.col-lg-offset-2.col-md-12.col-md-offset-0: hr

.text-center: #load-more.btn.btn-default Load more posts
